#displayer1, #displayer2 {
    margin-bottom: 8px;
}

.count {
    height: 30px;
    width: 30px;
    background-color: #a31515;
    border-radius: 3px;
    color: white;
    margin: 0 4px 0 4px;
    text-align: center;
    display: inline-block;
    line-height: 30px;
    cursor: pointer;
    overflow: hidden;
}